*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    background-color: rgb(163, 161, 161); 
    width: 20vw;
}
.sidebar nav{
    padding: 72px;
}

.sidebar nav li{
list-style-type: none;
padding: 33PX 0;
font-size: 30PX;
}

.main{
    /* background-color: yellow;
     */
    width: 90vw;
}

.container{
    display: flex;
    height: 100vh;
}

.infoContainer{
    /* background-color: rgb(157, 109, 13); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
  justify-content: center;
  flex-direction: column;
}

.devPic img{
    width: 42.5vh;
}

.name{
    font-size: 50px;
    font-weight: bold;
}

.hello{
    font-size: 85px;
}

.moreabout{
    font-size: 22px;
}

.about{
    font-size: 40px;
}
 
.button{
    margin: 34px;
}

.buttons button{
padding: 9px 14px;
border-radius: 22px;
color: white;
background-color: dodgerblue;
font-weight: bold;
font-size: 21px;
margin: 31px 9px;
cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
}

.contactForm h1{
    margin: 5px;
    padding: 12px 0;
}

.contactForm form div{
    margin: 3px;
    padding: 10px 0;
     display: flex;
    flex-direction: column; 
}

.contactForm form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3ox 0 0 0;
}

 #form-check{
    
    flex-direction: row;


}

#form-check input{
    width: 24px;
    
} 

.btn{
    max-width: 90px;
    padding: 3px;
    margin: 10px 0;
}

.btn{
        border: 2px solid black;
    border-radius: 25px;
    background-color: dodgerblue;

}
.btn:hover{
    background-color: white;
    color:blue;
}

.blogItem{
    margin: 20px;

}

.intro{
    margin: 12px;
}

.skill{
    width: 205px;
    height: 6px;
    background-color: red;
}

.skillItem{
    display: flex;
    align-items: center;
    
}

.skillContainer{
    padding: 12px;
    overflow: hidden;
}

.hundred{
    width: 265px;
    background-color: rgb(62, 13, 79);
    border: 1px solid black;
}

.fifty{
    width: 125px;
    background-color: aqua;
        border: 1px solid black;

}

.t5{
    background-color: yellow;
        border: 1px solid black;

}

@media (max-width:1530px) {

    .sidebar{
        transform: translate(-433px,0px );
        position: absolute;
    }
    
}